/*
General Rule in CSS
selector {
	property: value;
	anotherProperty: value;
}

Colors in CSS
- Built in Colors: colours.neilorangepeel.com;
- Hexadecimal: #000000-#FFFFFF;
- RGB Colours
- Red: #FF0000;
- Green: #00FF00;
- Blue: #0000FF;

Color Picker
- www.colorpicker.com
- photoshop

rgb
color: rgb(255,255,255);

RGBA, rgb with alpha (transparency) channel. Ranges from 0.0-1.0
color: rgba(11,99,150,1);
color: rgba(11,99,150,0.5);

Background for background color
Color for text color

background: blue;
background: url("image");
background-repeat: no-repeat;
background-size: cover;

Borders
- has width
- color
- size
border-color: purple;
border-width: 5px;
border-style: solid;
OR
border: 5px solid purple;

CSS Selectors
Basics: Elements, ID, Class;

element selector - selects all instances of given element
id selector - select an element with a given id
				referred using #name
class selector - all elements within a given class
				referred using .name


cssfontstack.com

font-size
- px
- em (dynamic)

font-weight
- range from 100 - 800 in increments of 100

line-height
- basically line spacing like double space
- line-height: 2;
*/

